/* Default Replacers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

html, body, p {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

a {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

a:hover {
    color: #fafafa;
}

.btn-primary {
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.btn-primary:hover {
    background-color: #6a0080;
    border-color: #6a0080;
}

.btn-link {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

/* Main Styles */
.brand-svg {
    height: 1.3rem;
    margin-top: -1vh;
}



.navbar-transparent {
    background: #f91b96;
    top: 0;
    right: 0;
    left: 0;
    padding: 1%;
    z-index: 9;

    padding: 10px;
}


#main-section {

    
    background-image: url("../images/backgrounds/background.png");
    background-size: auto;
    background-repeat: no-repeat;

    margin-top: -1px;

}

.tech-logo-slide {
    max-height: 8vh;
    filter: grayscale(100%);
}

#about-us-inside {
    background-image: url("../images/backgrounds/background - hww.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.img-small-h1 {
    height: 6vh;
    vertical-align: middle;
    image-rendering: crisp-edges;
}

.vertical-text {
    writing-mode: tb-rl;
}

.non-profit {
    color: #43a047 !important;
}

.floating-element-wrapper {
    perspective: 500px;
}

.floating-element {
    transform-style: preserve-3d;
}

.primary-link:hover {
    color: #9c27b0;
}

.iframe-privacy {
    width: 100%;
    height: 400px;
}

.contact{
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-bottom {
    background-image: url("../images/backgrounds/background - footer.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Animations */
html {
    --animate-duration: 1s;
}

.animate__bounce {
    --animate-duration: 2s;
}


@media (min-width: 700px){
    .navbar-transparent{
        position: absolute;
        background: none;
    }

    .contact{
        flex-direction: unset;
        justify-content: space-evenly;
    }
}